.about main {
  background-color: #f9f9f9;
}
.about main .tab{
  border-bottom: 1px solid #aaa;
  text-align: center;
}
.about main .tab li {
  display: inline-block;
  width: 100px;
  margin: 0 20px;
  height: 70px;
  line-height: 70px;
  cursor: pointer;
}
.about main .tab li:after,
.about main .tab li:before {
  background-color: #333;
  height: 2px;
  bottom: 0px;
}
.about main .tab li.active:after,
.about main .tab li.active:before {
  background-color: #333;
  height: 2px;
  bottom: 0px;
  width: 50%;
}
/* .about main .tab li.active {
  border-bottom: 1px solid #333;
} */
.about main .container .list-container .padding-30 {
  padding: 30px;
  font-size: 14px;
}
.about main .container .list-container .des-img{
  width: 100%;
  margin: 20px 0;
}
.about main .container .list-container .bottom-list{
  font-size: 0px;
  margin: 30px 0 40px;
}
.about main .container .list-container .bottom-list li{
  width: 30%;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 40px 0;
  background-color: #fff;
}
.about main .container .list-container .bottom-list li.mar-5{
  margin-right: 5%;
}
.about main .container .list-container .bottom-list li .text{
  margin-top: 20px;
  font-size: 16px;
}
/* 荣誉 */
.about main .container .list-container .honor-list{
  padding: 30px;
  margin-bottom: 40px;
  font-size: 0;
}
.about main .container .list-container .honor-list li{
  display: inline-block;
  width: 30%;
  border: 1px solid #E6E6E6;
  margin-bottom: 20px;
  cursor: pointer;
  margin-right: 5%;
}
.about main .container .list-container .honor-list li:nth-child(3n){
  margin-right: 0;
}
/* 荣誉 */
.about main .container .list-container .mar-30-0{
  margin: 0 0 40px;
}
/* 招聘 */
.about main .container .list-container .job-content{
  padding: 30px;
  margin-bottom: 40px;
  line-height: 25px;
}
.about main .container .list-container .job-content img{
  width: 100%;
}
.about main .container .list-container .job-content .item{
  margin: 20px 0;
}
.about main .container .list-container .job-content .item .padding-l-20{
  padding-left: 20px;
}
.about main .container .list-container .job-content .item .title{
  background-color: rgba(204,205,204,.3);
  height: 40px;
  line-height: 40px;
}
.about main .container .list-container .job-content .item .title{
  background-color: rgba(204,205,204,.3);
  height: 40px;
  line-height: 40px;
  margin-bottom:10px;
}
.about main .container .list-container .job-content .item .title .mar-r-10px{
  margin-right:10px;
}
/* .about main .container .list-container .job-content .item .text{
  background-color: #ccc;
} */
.about main .container .list-container .job-content .item .text .line{
  line-height: 26px;
}
.about main .container .list-container .job-content .item .text .lm-show{
  display: none;
}
.about main .container .list-container .job-content .item .text .mar-r-20{
  margin-right:20px;
}

@media (max-width: 768px) {
  .about main .tab {
    margin-bottom: 0;
    border: none;
    padding: 0.4rem 0 0;
  }
  .about main .tab li{
    width: 22%;
    border: 1px solid #ccc;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.32rem;
    margin: 10px 2px;
    color: #aaa;
    box-sizing: border-box;
  }
  .about main .tab li.active{
    border-color: #00A0E9;
    color:#00A0E9;
  }
  .about main .tab li.active:after, .about main .tab li.active:before{
    display: none;
  }
  .container .about-title{
    margin: 0;
    padding: 0.8rem 0 0.8rem 0;
    background-color: #fff;
    font-size: 20px;
  }
  .container .about-title.lm-title{
    display: none;
  }
  .about main .container .list-container .padding-30{
    padding: 0 0.4rem;
    font-size: 0.32rem;
  }
  .about main .container .list-container .bottom-list li{
    border:none;
    background-color: transparent;
    padding: 0 0.5rem;
  }
  .about main .container .list-container .bottom-list li .text{
    font-size: 0.3733rem;
  }
  .about main .container .list-container .bottom-list li img{
    width: 100%;
  }
  /* 荣誉资质 */
  .about main .container .list-container .honor-list,
  .about main .container .list-container .job-content {
    padding: 0.8rem 0.4rem;
  }
  .about main .container .list-container .honor-list li{
    width: 49%;
  }
  .about main .container .list-container .honor-list li:nth-child(odd){
    margin-right: 2%;
  }
  .about main .container .list-container .honor-list li:nth-child(even){
    margin-right: 0;
  }
  .about main .container .list-container .honor-list li img{
    width: 100%;
  }
  /* 实景图 */
  .about main .container .factory-container {
    padding: 0 0.4rem;
  }
  .about main .container .factory-container img{
    width: 100%;
  }
  /* 招聘 */
  .about main .container .list-container .job-content .item {
    font-size: 0.3733rem;
  }
  .about main .container .list-container .job-content .item .title{
    padding-left: 10px;
  }
  .about main .container .list-container .job-content .item .text{
    padding-left: 0;
  }
  .about main .container .list-container .job-content .item .text .lm-block{
    display: block;
  }
  .about main .container .list-container .job-content .item .text .lm-show{
    display: block;
  }
  .about main .container .list-container .job-content .item .text .line.lm-mb{
    margin-bottom: 8px;
  }
}