.support main {
  background-color: #F9F9F9;
}
.support main .tab{
  border-bottom: 1px solid #aaa;
  text-align: center;
}
.support main .tab a {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  color: #333;
}
.support main .tab li{
  display: inline-block;
  width: 100px;
  margin: 0 20px;
  height: 75px;
  line-height: 75px;
  font-size: 16px;
  cursor: pointer;
}
.support main .tab li:after,
.support main .tab li:before {
  background-color: #333;
  height: 2px;
  bottom: 0px;
}
.support main .tab li.active:after,
.support main .tab li.active:before {
  background-color: #333;
  height: 2px;
  bottom: 0px;
  width: 50%;
}
.support main .container .list-container .list-content li .item{
  width: 100%;
  height: 210px;
  padding: 30px 0;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid #aaa;
  display: inline-block;
  color: #555;
  font-size: 0;
  cursor: pointer;
}
.support main .container .list-container .list-content li .item img {
  width: 200px;
  height: 140px;
  vertical-align: top;
}
.support main .container .list-container .list-content li .item a{
  display: inline-block;
  width: 200px;
  line-height: 1;
  vertical-align: top;
}
.support main .container .list-container .list-content li .item .text{
  display: inline-block;
  width: calc(100% - 244px);
  width: -moz-calc(100% - 244px);
  width: -webkit-calc(100% - 244px);
  margin-left: 40px;
  box-sizing: border-box;
}
.support main .container .list-container .list-content li .item .text .title{
  font-size: 18px;
  margin-bottom: 10px;
}
.support main .container .list-container .list-content li:hover .item .text .title {
  color: #00A0E9;
}
.support main .container .list-container .list-content li .item .text .describe {
  line-height: 30px;
  height: 60px;
  overflow: hidden;
  font-size: 14px;
}
.support main .container .list-container .list-content li .item .text .item-footer{
  position: absolute;
  bottom: 40px;
  width: calc(100% - 250px);
  width: -webkit-calc(100% - 250px);
  width: -moz-calc(100% - 250px);
}
.support main .bottom a:hover {
  color: #00A0E9;
}


@media (max-width: 768px) {
  .support .text-container .container {
    background-color: #fff;
  }
  .support main .tab {
    width: 100%;
    font-size: 0;
    padding: 0.4rem;
    margin: 0;
    border: none;
  }
  .support main .tab li.active:after, .support main .tab li.active:before,
  .support main .tab li.active:after, .support main .tab li.active:after {
    display: none;
  }
  .support main .tab li a {
    display: block;
    height: 42px;
    line-height: 42px;
  }
  .support main .tab li {
    display: inline-block;
    width: 30%;
    margin: 0;
    height: 42px;
    line-height: 42px;
    color: #999;
    border: 1px solid #CCCCCC;
  }
  .support main .tab li.active {
    border-color: #00A0E9;
    color: #00A0E9;
  }
  .support main .tab li:nth-child(2) {
    margin: 0 5%;
  }

  .list-container {
    background-color: #fff;
    padding: 0 0.4rem;
  }
  .support main .container .list-container .list-content li .item {
    height: auto;
    border-color: #E6E6E6;
  }
  .support main .container .list-container .list-content li .item .text .title {
    margin-bottom: 0;
    color: #333;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .support main .container .list-container .list-content li .item img {
    width: 120px;
    height: 90px;
  }
  .support main .container .list-container .list-content li .item .text {
    width: -moz-calc(100% - 144px);
    width: -webkit-calc(100% - 144px);
    width: calc(100% - 144px);
    margin-left: 20px;
  }
  .support main .container .list-container .list-content li .item .text .describe {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.75;
    display: -webkit-box;
    height: auto;
  }
  .support main .container .list-container .list-content li .item .text .item-footer {
    bottom: 0.7rem;
    width: calc(100% - 144px);
    width: -webkit-calc(100% - 144px);
    width: -moz-calc(100% - 144px);
    font-size: 0.32rem;
  }

  /* 详情 */
  main.text-container .container .title {
    margin-top: 0;
  }
  main.text-container .container .content {
    min-height: 6rem;
    margin: 0 0.5333rem;
    padding: 0 0 0.5333rem 0;
    border-bottom: 1px solid #E6E6E6;
  }
  main.text-container .container .bottom a {
    display: block;
    float: none;
    margin-bottom: 0.5333rem;
  }
}