/* .support main .tab{
  border-bottom: 1px solid #aaa;
  text-align: center;
}
.support main .tab li {
  display: inline-block;
  width: 100px;
  margin: 0 20px;
  height: 70px;
  line-height: 70px;
}
.support main .tab li.active {
  border-bottom: 1px solid #333;
} */
/* .support main .container .title{
  text-align: center;
}
.support main .container .title .notes{
  margin: 20px 0;
}
.support main .container .title .notes .mar-l40{
  margin-left:40px;
}
.support main .container .content{
  line-height: 28px;
  padding:20px;
}
.support main .container .bottom{
  margin:20px 0 30px 0;
  font-size: 12px;
  padding: 0 20px;
} */
